@model IEnumerable<Task3_ManytoManyRelation.Models.Skillswithemployees>

@{
    ViewData["Title"] = "Index";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"/>
<script src="~/js//custom.js"></script>
<h1>Index</h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<div class="jumbotron">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.skillname)
                </th>
                <th>
                    Employees
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.skillname
                    </td>
                    <td>
                        <ul>
                            @foreach (var x in item.Employees)
                            {
                                <li>@x</li>
                            }
                        </ul>
                    </td>

                    <td>
                        @* <a asp-action="Edit" asp-route-id="@item.skillid">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.skillid">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.skillid">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>